In [1]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.DataFrame({'A': [1,2,np.nan],'B': [5, np.nan, np.nan], 'C': [1,2,3]})

In [4]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [8]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [9]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [12]:
df.fillna(value=0)

     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3

In [15]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [16]:
df['A'].fillna(value=df['A'].sum())

0    1.0
1    2.0
2    3.0
Name: A, dtype: float64